
body {
    margin: 4% 8% 8% 8%;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    
    gap: 15px;
}

.footer {
    margin-top: 70px;
    text-align: center;
}