body {
  margin: 0;

}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: rgb(0, 0, 0, 0.5);
}

.topnav a.active {
  background-color: #EF7BDE;
  color: white;
}


header {
    /* background-color: rgb(255, 0, 0, 0.25); */
    background-image: url('../photos/gradient.avif'); 
    background-size: cover;
    background-position: 50% 80%;
    
}


.column_container {
  /* background-color: rgb(255, 0, 0, 0.25); */
  margin: auto;
  width: 960px; 
}

.column_container img {
  display: block;
  margin: auto;
  margin-top: 0;
  margin-bottom: 0;
  width: 60%;
}

h1 {
  font-size: 80px;
  line-height: 1;
  margin-bottom: 10px;
}


header .column_container {
  text-align: center;
  padding: 15% 0 20% 0;

}

header h2 {
  margin: 0;
  font-size: 30px;
}


header h2 {
  margin: 0;
  font-size: 30px;
}

h3 {
  font-size: 40px;
  text-align: center;
  padding-bottom: 24px;
}

p {
  font-size: 18px;
  line-height: 1.4;
}

h4 {
  font-size: 20px;
}

.section_one {
  background-color: beige;
}

.section_one .column_container {
  text-align: left;
  vertical-align: middle;
  padding: 18% 0 12% 0;
}

.section_one p {
  padding: 8px 0;
}


.section_two  {
  padding: 43px 0 47px 0;
}

.img_1 {
  width: 400px;
  height: 500px;
  float: right;
  object-fit: cover;
  object-position: bottom;
  margin-left: 40px;
  margin-bottom: 40px;
} 

.cast-grid {
  display: flex; 
  flex-wrap: wrap;

}

.cast-grid img {
  width: 200px;
  height: auto;
}

#greta {
  width: 50%;
}


