body {
    font-family: 'Georgia', serif;
    background-color: #a9a099;
    color: #1b1e22;
    padding: 20px;
    margin: 20px;
    background-image: url('background.png');
}
.c_intro {
    display: flex;
    margin-bottom: 24px;
    flex-wrap: wrap;
    justify-content: center;
}

.c_lyrics {
    min-width: 700px;
    width: 50%;
    margin: auto;
    background-color: rgba(255,255,255,0.32);
    padding: 40px;
    border-radius: 13px;
}

.title {
    margin: 40px;
    text-align: right;
}

.lyrics {
    white-space: pre-line;
    font-size: 18px;
    line-height: 1.8;
}

a:link {
    color: lightgray;
}

a:visited {
    color: whitesmoke;
}
  
footer {
    margin-top: 50px;
    color: whitesmoke;
    text-align: center;
}